#header {
  height: 400px;
  width: 100%;
  align-items: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: #daa520;
  background-image: url("../images/argyle.png");
}

@media only screen and (min-width: 768px) {
  #header {
    line-height: 20px;
    margin-right: 50px;
    height: 400px;
    width: 600px;
  }
}